*{
    margin: 0;
}

.footerContainer{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #161b22;
}

.Clogo{
    width: 120px;
    margin-top: 30px;
}

.motor div{
    font-family: "Reddit Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: whitesmoke;

    padding-bottom: 20px;
    margin-top: -20px;
    text-align: center;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    padding-bottom: 30px;
}

.Sicons1{
    width: 40px;
    align-content: center;
}

.Sicons:hover{
    opacity: 0.8;
}

@media (min-width: 769px) and (max-width: 1040px) {
    .motor div{
        font-size: 18px;
    }
}

.copyright{
    font-family: 'Roboto', 'Arial', sans-serif;
    color: black;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}